<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bookmark Manager</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>>
      <li><a href="#">Sign up</a></li>
      <li><a href="#">Sign in</a></li>
    </ul>
  </div>
</nav>

  <div class="container">
    <div class="list-group">
      <% @bookmarks.each do |bookmark| %>
    <a href="<%= bookmark %>" class="list-group-item"><%= bookmark %></a>
    <% end %>

    </div>
  </div>

<form action="/bookmarks/add" method="post">
  <label for="add_url">
    <input type="text" name="new_url" placeholder="Enter Bookmark">
  </label>
  <input type="submit" value="Add">
</form>

</body>
</html>
